<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Import bootstrap dependencies-->
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css" />
    <script src="/vendor/bootstrap/jquery-3.5.1.min.js"></script>
    <script src="/vendor/bootstrap/popper.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>

    <script>
      var _tooltip = jQuery.fn.tooltip;
    </script>
    <!-- <script src="/vendor/bootstrap/jquery-ui.min.js"></script>-->
    <script>
      jQuery.fn.tooltip = _tooltip;
    </script>

    <!-- Import bootstrap dependencies-->

    <!-- <link rel="stylesheet" href="/stylesheets/fontwasome.all.css" /> -->

    <script src="/vendor/sweetalert/sweetalert2.js"></script>
    <link rel="stylesheet" href="/vendor/sweetalert/sweetalert2.css" />

    <!-- Import full calendar local dependencies-->
    <script src="/vendor/full-calendar/moment.min.js"></script>
    <!--<link rel="stylesheet" href="/vendor/full-calendar/main.css" />-->
    <!--<link rel="stylesheet" href="/vendor/full-calendar/daygrid_main.css"/>-->
    <!--<link rel="stylesheet" href="/vendor/full-calendar/timegrid_main.css"/>-->

    <!-- Import chart.js  dependencies-->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Import datatables local dependencies-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/data-tables/datatables.min.css"
    />
    <!--<script type="text/javascript" src="/vendor/data-tables/pdfmake.min.js"></script> -->
    <!--<script type="text/javascript" src="/vendor/data-tables/vfs_fonts.js"></script> -->
    <script
      type="text/javascript"
      src="/vendor/data-tables/datatables.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/vendor/data-tables/datetime-moment.js"
    ></script>

    <link
      rel="stylesheet"
      href="/vendor/data-tables/searchBuilder.bootstrap4.min.css"
    />
    <script src="/vendor/data-tables/dataTables.searchBuilder.min.js"></script>

    <!-- Import flatpicker calendar local dependencies-->
    <link rel="stylesheet" href="/vendor/flat-picker/flatpickr.min.css" />
    <link rel="stylesheet" href="/vendor/flat-picker/airbnb.css" />
    <script src="/vendor/flat-picker/flatpickr.js"></script>
    <script src="/vendor/flat-picker/es.js"></script>

    <title>Inicio</title>
  </head>
  <body class="bg-dark">
    <div class="container col-md-4 my-3 p-2 bg-dark rounded">
      <div class="d-flex justify-content-center">
        <img
          class="mt-4"
          src="images/logo.png"
          width="280"
          height="280"
          alt=""
        />
      </div>

      <div class="d-flex justify-content-center mt-2 mb-3">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1"><strong>Usuario</strong></label>
            <input
              type="email"
              class="form-control"
              id="user"
              aria-describedby="emailHelp"
            />
            <small id="emailHelp" class="form-text text-muted text-center"
              >Si no tiene u olvidó su usuario contacte al administrador.</small
            >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"
              ><strong>Contraseña</strong></label
            >
            <input type="password" class="form-control" id="password" />
          </div>
          <button
            type="button"
            class="btn btn-primary"
            onclick="crearUsuario()"
          >
            Ingresar
          </button>
        </form>
      </div>
    </div>
  </body>
  <script>
    function crearUsuario() {
      let data = {
        nombre: $("#user").val(),
        contraseña: $("#password").val(),
      };

      if ($("#user").val() == "" || $("#password").val() == "") {
        Swal.fire(
          "Información",
          "Usuario y Contraseña son obligatorios.",
          "warning"
        );
      } else {
        $.ajax({
          method: "POST",
          url: "auth",
          data: data,
        }).done(function (result) {
          if (result.status == 400) {
            Swal.fire({
              position: "top-end",
              icon: "info",
              title: `${result.message}`,
              showConfirmButton: false,
              timer: 1500,
            });
          } else {
            Redirect()
          }
        });
      }
    }
    var base_url = window.location.origin;

    function Redirect() {
      window.location = base_url + "/inicio";
    }
  </script>
</html>
